@import url('fonts.css');

* {
    /*main website colours*/
    --primary-colour: #D5E2DC;
    --primary-colour-light: blue;
    --primary-colour-dark: blue;

    --secondary-colour: #121212;

    /*accent colours for the different pages*/
    --art-colour: rgb(75, 177, 75);
    --game-colour: rgb(212, 92, 92);
    --shader-colour: rgb(201, 201, 81);
    --programming-colour: rgb(89, 89, 211);

}

body {
    background: var(--primary-colour);
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

.page {
    min-height: 1000px;
}

.page-container {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 0%;
    padding-right: 5%;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16pt;
}