.gallery-col {
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.gallery-row {
    display: flex;
    justify-content: center;
}

.art-container {
    position:relative;
    display: inline-block;
    padding:30px;
    margin:10px;
    align-items: flex-start;
}

img {
    width: 100%;
}

@media (max-width: 991.98px) {
    .gallery-col{
        width: calc(100% - 40px);
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
    }
    .gallery-row{
        display: block;
    }
}