.portfolio-image {
    width: 100%;
    height: 100%;
    max-Width: 500px;
    max-height: 500px;
    padding: 20px;
}

.portfolio-image-container {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.homepage-section {
    margin-bottom: 50px;
}